@page "/dinners/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View</h3>


<FormComponent dinner="dinner" Disabled="true" />

@code {
     [Parameter] public int id { get; set; }
     Dinner dinner = new Dinner();
     protected async override Task OnParametersSetAsync()
     {
     dinner = await _client.GetFromJsonAsync<Dinner>($"{Endpoints.DinnersEndpoint}/{id}");
     }
}