@page "/"

<h1>Cupids love</h1>

<h2>Welcome to Cupids love a blind dating service.</h2>

<h2>Come find your true love by participating in some of these match made events</h2>

<h2>What Do you have to loose come on down</h2>

<img src="images/topper-cupid.png" alt="pic" style="width: 250px; height: 250px" />


@*<SurveyPrompt Title="How is Blazor working for you?" />*@
