<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">PCL</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <img src="images/download.png" alt="Logo" width="25%" />
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="applicants">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Profile Page
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dinners">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dinners
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="festivals">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Festivals
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="cafes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cafes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="movies">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Movies
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="myactivities">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MyActivities
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Weather
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
